* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 0 0.5rem;
  text-transform: capitalize;
}

.modal {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.815);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.popup {
  background-color: #fff;
  padding: 4rem;
  border-radius: 1rem;
}

.form {
  font-size: 1.2rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  margin: 0.5rem;
  padding: 0.25rem;
}

.main-display {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
}

.display {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.display-header {
  display: flex;
  justify-content: space-between;
}

.person-container,
.programmer-container {
  padding: 2rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
}
